

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
}

.container{ margin-top:25px; }

#section {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

#section h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3em;
  color: #555;
}

#section p {

  font-weight: 300;
  line-height: 1.4em;
  font-size: 0.95em;
  color: #888;

}
