/*General*/
.noPadding{padding: 0px;}

html {font-size: 2.5em;}

.width100{width: 100%;}
/*General*/







/*Nav*/
.navbar-brand {padding: 0px;}

.navbar-brand>img {height: 80%;padding: 0px;width: auto;}

.navbar{margin-bottom: 0px;}

.navbar-brand {padding-top: 13px;height: 85px;width: 280px;}

.nav >li >a {padding-top: 30px;padding-bottom: 30px;}

.navbar-toggle {padding: 10px;margin: 25px 15px 25px 0;}

.navbar-default {background-color: #fff;border-color: #fff;}

hr {margin-top: 0px; margin-bottom: 0px;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: black;background-color: white;}

.navbar-default .navbar-nav>li>a {color: black;}

@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-collapse.collapse {display: none !important;}
  .navbar-collapse.collapse.in {display: block !important;}
  .navbar-header .collapse, .navbar-toggle {display:block !important;}
  .navbar-header {float:none;}
}

.topNav {padding-top: 0px;margin: 17px auto 0px auto;}

.socialEven{  margin-top: -15px;}

.icon-button {background-color: white;border-radius: 2.6em;cursor: pointer;display: inline-block;font-size: 1.3em;
	height: 2.6em;line-height: 2.6em;margin: 0 5px;position: relative;text-align: center;-webkit-user-select: none;
	-moz-user-select: none;-ms-user-select: none;user-select: none;width: 2.6em;}


.icon-button span {border-radius: 0;display: block;height: 0;left: 50%;
	margin: 0;position: absolute;top: 50%;-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;width: 0;}

.icon-button:hover span {width: 2.6em;height: 2.6em;border-radius: 2.6em;margin: -1.3em;}


.icon-button i {background: none;color: white;height: 2.6em;left: 0;line-height: 2.6em;
	position: absolute;top: 0;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;
	-o-transition: all 0.3s;transition: all 0.3s;width: 2.6em;z-index: 10;}

.twitter span {background-color: #4099ff;}
.facebook span {background-color: #3B5998;}
.google-plus span {background-color: #db5a3c;}
.tumblr span {background-color: #34526f;}
.instagram span {background-color: #517fa4;}
.youtube span {background-color: #bb0000;}
.pinterest span {background-color: #cb2027;}

.icon-button .fa-twitter {color: #4099ff;}
.icon-button .fa-facebook {color: #3B5998;}
.icon-button .fa-tumblr {color: #34526f;}
.icon-button .fa-google-plus {color: #db5a3c;}
.icon-button .fa-instagram {color: #517fa4;}
.icon-button .fa-youtube {color: #bb0000;}
.icon-button .fa-pinterest {color: #cb2027;}

.icon-button:hover .fa-twitter,.icon-button:hover .fa-facebook,.icon-button:hover .fa-google-plus,
.icon-button:hover .fa-tumblr,.icon-button:hover .fa-instagram,.icon-button:hover .fa-youtube,.icon-button:hover .fa-pinterest {color: white;}

/*Nav*/







/* Slider */
header.carousel {height: 50%;}

header.carousel .item,header.carousel .item.active,header.carousel .carousel-inner {height: 100%;}

header.carousel .fill {width: 100%;height: 650px;background-position: center;background-size: cover;}
/* Slider */












.thumbnail{
    padding: 0px;
    margin-bottom: 20px;
    border: 1.5px solid #ddd;
    -o-transition: border .2s ease-in-out;
    background: #FFF;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;}

.favLinkIcons{    height: 30px;
    position: absolute;
    width: 30px;
    right: 15px;
  }

.thumbnail a>img, .thumbnail>img {
    margin: -10px 0px 0px 0px;
}
