

body {font-family: 'Roboto', sans-serif;font-size: 15px;}

h1{color: #030; font-size: 2.2em;;}

.container{ margin-top:25px; }

#sidebar{    border-left: 1px dotted #e1dfdf;}


.glyphicon-earphone {padding-right: 5px;}
.glyphicon-envelope {padding-right: 5px;}


.btn-xl {padding: 15px 30px;margin: 10px 10px;}


.btn {border: 0;text-transform: uppercase;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;font-weight: 400;border-radius: 0px;}


.btn-primary-color {border: 2px solid #030 !important;color: #030;background-color: transparent!important;-webkit-transition: all .35s;
    -moz-transition: all .35s;transition: all .35s;text-transform: none !important;margin-bottom: 25px !important;}


.btn-primary-color:hover, .btn-primary-color:focus, .btn-primary-color.focus, .btn-primary-color:active, .btn-primary-color.active, .open > .dropdown-toggle.btn-primary-color {color: white;background-color: #030 !important;}

.btn.focus, .btn:focus, .btn:hover {text-decoration: none;}


img {float: left;
    margin: 5px 15px 15px 0;width: 200px;}



span.secondtext {
    font: 21.96px/27px 'Montserrat', sans-serif;
    letter-spacing: 0;
    display: block;
}

#contact a {display: block;line-height: 25px;color: #7c7879;}
#contact{margin: 10px 0px;}
#contact a:hover{text-decoration: none;
    color: #030 !important;
    transition: .7s;}


.links a{margin-bottom: 15px;}


.bio p{margin-top: 30px;line-height: 30px;color: #7c7879;letter-spacing: 0.53px;    text-align: justify;
    }


blockquote .row p {padding: 0px;}



blockquote{padding: 0px 20px;}







h1 {    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 40px;
  margin-top: 0px;}



.links {padding-top: 25px;text-align: center;}

.links a {position: relative;font-size: 1.2em;color: #030;text-transform: uppercase;letter-spacing: 5px;display: inline-block;
width: 100%;padding: 30px 0 30px;border: 1px solid #030;background: url('../images/black.png') center center no-repeat white;
transition: all 0.3s ease;}

.links a span {font: 22px/27px 'Montserrat', sans-serif;letter-spacing: 0;display: block;}

.links a:hover {color: white;background-color: #030;}



.links a:after {content: '';opacity: 0;display: flex;position: absolute;top: 0;left: 0;width: 100%;
height: 100%;background: url('../images/white.png') center center no-repeat;transition: all 0.3s ease;}

.links a:hover:after {opacity: 1;display: block;}











#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;

    text-shadow: none;
    margin-top: 100px;
}



.item blockquote {
    border-left: none;
    margin: 0;
}
blockquote{font-size: inherit;}

small {text-align: center;}

.carousel-control {width: 0%;}

































.socialMedia {
  text-align: center;
  margin: auto;
}

.socialMedia .fa {
  color: #fff;
  line-height: 1.6em;
  margin-top: 5px;
}
.socialMedia .fa:hover {
  transform: scale(1.2);
}

.fa-2x{font-size: 1.3em !important;}

.socialMedia a {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.socialMedia a.googleplus {
  background-color: #dd4b39;
}

.socialMedia a.facebook {
  background-color: #3b5998;
}

.socialMedia a.twitter {
  background-color: #00aced;
}
.socialMedia a.instagram {
  background-color: #125688;
}
.socialMedia a.pinterest {
  background-color: #cb2027;
}
.socialMedia a.linkedin {
  background-color: #007bb5;
}
.socialMedia a.vine {
  background-color: #00bf8f;
}
.socialMedia a.email {
  background-color: #FFA500;
}
.socialMedia a.youtube {
  background-color: #bb0000;
}
.socialMedia a.vimeo {
  background-color: #aad450;
}
