.innerContainer {background: #FFF;box-shadow: 0 0 0 1px #E2E9ED;padding: 20px 0px;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;}

.innerContainer:before {content: "";display: block;padding-top: 100%;}

.innerContainer:hover {z-index: 1;box-shadow: 0 0px 26px rgba(0, 0, 0, 0.2);transform: scale(1.00005);transition: box-shadow 0.2s ease, transform 0.3s ease, z-index 0s 0s ease;}


.innerContainer .split {opacity: 1;}
.innerContainer:hover .split {margin: 16px 0 0;}
.split {margin: 0px;opacity: 0;transition: margin 0.2s ease, opacity 0.2s ease;}

.verticalCenter {position: absolute;top: 50%;width: 100%;transform: translate(0, -50%);text-align: center;}

.profile {width: 50%;margin: 0 auto 20px;}

img {width: 100%;}

.name {color: #313435;font-size: 14px;font-weight: 500;line-height: 26px;}

.title {
    color: #6F808A;
    font-size: 12px;
    line-height: 24px;
    margin-top: -8px;
}


.social {
  display: inline-block;
  margin: 0 10px;
}


body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}


.fa {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 18px;text-rendering: auto;-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;color: #515F65;}


@media (max-width: 500px){.width100 {width: 100%;}}
