//Panels Mixin
.panels(@color){
  border-color: @color;
  .panel-heading {
    border-color: @color;color: white;background-color: @color;border-radius: 0px;
  }
  a {
    color: @color; &:hover {
      color: darken(@color, 15%);
    }
  }
}


.autoposters(@color){
  .buttonSlide {
    box-shadow: inset 0 0 0 0 @color;
  }

  &:hover, &.active {
    i, button{
      background: @color;
      color:white !important;
      border-color: @color;
    }
    .buttonSlide {
        box-shadow: inset 0 -100px 0 0 @color;
    }
  }
  &.nonactive{
    i{
      background: #d8d8d8;
      color:white !important;
      border-color: #d8d8d8;
    }
  }

}
