@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);



/*ICONS*/
@import url(http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);


body, html {font-family: Lobster, sans-serif;background: url(http://briansopok.com/img/header4.jpg);
  background-size: cover;margin: 0;padding: 0;width: 100%;height: 100%;overflow: hidden;z-index: 9;}

.bgtint {position: absolute;height: 100%;width: 100%;background: rgba(42, 43, 57, 0.4);}


a {color: #2a2b39;text-decoration: none;transition: all 0.3s ease-in-out;}
a:hover {color: #b41a4f;}

.cardContainer {height: 320px;width: 94%;left: 3%;overflow: hidden;box-shadow: 0px 0px 40px -10px black;position: absolute;}

.cardContainer .rlsCard {z-index: 1;width: 100%;height: 100%;width: 100%;height: 100%;
background: #f0edea;}

.cardContainer .rlsCard .top {height: 50%;background: #2a2b39;}

.cardContainer .rlsCard .top .logo {display: inline-block;background-image: url(http://www.rls2000.com/about-us/images/about-brian.jpg);background-size: 100%;
  z-index: 8;padding: .20em;border: 4px solid #f0edea;position: relative;transform: translateX(-50%);left: 50%;margin-top: .4em;font-size: 4em;}

.transparent {color: transparent;}

.cardContainer .rlsCard .bottom {margin-top: 2.5em;transform: translateY(0);z-index: 8;}

.cardContainer .rlsCard .firstLast {color: #2a2b39;font-weight: 400;font-size: 2.6em;text-align: center;margin-bottom: .35em;}

hr {margin-top: -15px;width: 20%;border-top: 1px solid #2a2b39;}


.cardContainer .rlsCard .title {text-align: center;color: #2a2b39;font-family: 'Old Standard TT', serif;font-style: italic;}

.cardContainer .rlsCard .contactMe {color: #2a2b39;margin-left: 1em;font-weight: 300;font-size: 1.4em;transform: translateY(400%);line-height: 2.5em;}

.cardContainer .rlsCard .contactMe span {font-size: 1.7em;}

.fa-2x {font-size: 1.7em;width: 40px;}

.cardContainer .rlsCard .contactMe a {position: relative;bottom: 6px;}



.rlsCard .top .logo, .rlsCard .top, .rlsCard .top:after, .rlsCard .bottom, .rlsCard .contactMe {transition: all 0.62s ease-in-out;}

.rlsCard:hover .top .logo {margin-top: .28em;font-size: 2.3em;border: 4px solid #f0edea;margin-left: .15em;transform: translateX(0);left: 0;}

.rlsCard:hover .top {height: 25%;}

.rlsCard:hover .bottom {transform: translateY(400%);}

 .rlsCard:hover .contactMe {transform: translateY(-50%);}

.height {height: 350px;}
