<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Admin for RLS/LB/EST Real Estate Agents">
    <meta name="author" content="Brian Sopok">
    <title>RLS Admin Theme - Brian Sopok</title>
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Brian Sopok CSS -->
    <link href="../css/less/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/fas/fa/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="webPreferencesColorsApp">
    <div id="wrapper" ng-controller="webPreferencesColorsController">

      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Social Gold Pro Admin</a>
         </div>

         <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Brian Sopok <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
               </a>
               <ul class="dropdown-menu dropdown-user">
                  <li>
                     <a href="userProfile.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                     <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                  </li>
               </ul>
            </li>
         </ul>


         <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
               <ul class="nav" id="side-menu">
                  <li>
                     <img src="http://briansopok.com/img/brian303.jpg" width="150" height="150" class="img-responsive " alt="" style="border-radius: 50%;margin: 10px auto;">
                  </li>
                  <li>
                     <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-wrench fa-fw"></i>Web Preferences<span class="fa arrow"></span></a>
                     <ul class="nav nav-second-level">
                        <li>
                           <a href="webPreferencesColors.html">Colors/Fonts</a>
                        </li>
                        <li>
                           <a href="webPreferencesFeaturedTowns.html">Featured Towns</a>
                        </li>
                        <li>
                           <a href="webPreferencesFeaturedListings.html">Featured Listings</a>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="socialMedia.html"><i class="fa fa-share-square-o fa-fw"></i>Social Media</a>
                  </li>
                  <li>
                     <a href="userProfile.html"><i class="fa fa-pencil fa-fw"></i>Edit Profile</a>
                  </li>
                  <div style="display:none;">
                     <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i>Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li>
                              <a href="#">All Pages</a>
                           </li>
                           <li>
                              <a href="#">Add New</a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Blog Controls<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li>
                              <a href="#">Create New Posts</a>
                           </li>
                           <li>
                              <a href="#">Manage Posts</a>
                           </li>
                           <li>
                              <a href="#">Auto Poster Settings</a>
                           </li>
                           <li>
                              <a href="#">Manage Categories</a>
                           </li>
                           <li>
                              <a href="#">Article Library</a>
                           </li>
                           <li>
                              <a href="#">Visit My Blog</a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i>YouTube Tours</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i>Testimonials</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i>Google Webmaster Tools</a>
                     </li>
                  </div>
               </ul>
            </div>
         </div>

      </nav>



<div id="page-wrapper" class="webPreferencesColors">
  <div class="row">
      <div class="col-lg-12">
          <div class="col-xs-8 col-sm-6 paddingNone">
            <h1 class="page-header inlineBlock">Color Settings</h1>
          </div>
          <div class="col-xs-4 col-sm-6 paddingNone">
            <button type="button" class="btn btn-primary btn-submit floatRight hidden-md hidden-lg"><i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span class="btn-wording btn-mobile">Save</span>
              <span class="btn-wording btn-nonmobile">Save Changes</span></button>
          </div>
      </div>
  </div>
  <hr>
  <div class="row">
  <div class="col-xs-12 col-md-8 col-lg-9">
  <section id="themeColorSettings">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-sub">Theme:</h3>
        </div>
    </div>

    <div class="row">
      <form role="form">
        <div ng-repeat="x in themeColorSettings" class="clear">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 form-group">
            <label >{{x.label}}:</label>
          </div>
          <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 form-group">
            <input type="text" class="form-control" placeholder="{{x.label}}" value="{{x.value}}">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="baseColorSettings">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-sub">Base:</h3>
        </div>
    </div>

    <div class="row">
      <form role="form">
        <div ng-repeat="x in baseColorSettings" class="clear">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 form-group">
            <label >{{x.label}}:</label>
          </div>
          <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 form-group">
            <input type="text" class="form-control" placeholder="{{x.label}}" value="{{x.value}}">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="iconColorSettings">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-sub">Icon:</h3>
        </div>
    </div>

    <div class="row">
      <form role="form">
        <div ng-repeat="x in iconColorSettings" class="clear">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 form-group">
            <label >{{x.label}}:</label>
          </div>
          <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 form-group">
            <input type="text" class="form-control" placeholder="{{x.label}}" value="{{x.value}}">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="menuColorSettings">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-sub">Menu:</h3>
        </div>
    </div>

    <div class="row">
      <form role="form">
        <div ng-repeat="x in menuColorSettings" class="clear">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 form-group">
            <label >{{x.label}}:</label>
          </div>
          <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 form-group">
            <input type="text" class="form-control" placeholder="{{x.label}}" value="{{x.value}}">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="slidesColorSettings">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header-sub">Slides:</h3>
        </div>
    </div>

    <div class="row">
      <form role="form">
        <div ng-repeat="x in slidesColorSettings" class="clear">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 form-group">
            <label >{{x.label}}:</label>
          </div>
          <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 form-group">
            <input type="text" class="form-control" placeholder="{{x.label}}" value="{{x.value}}">
          </div>
        </div>
      </form>
    </div>
  </section>

</div><!--Left Side-->
<div class="col-md-4 col-lg-3 hidden-sm hidden-xs">
  <section id="submit">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 submitBox">
          <div class="col-md-12">
            <h3>Publish</h3>
            <hr>
            <h4>Resources</h4>
            <a href=""><p class="resourcesLink">Support Website</p></a>
            <a href=""><p class="resourcesLink">Contact Support</p></a>
            <a href=""><p class="resourcesLink">Webinars and Tutorials</p></a>
            <a href=""><p class="resourcesLink">Billing</p></a>
            <a href=""><p class="resourcesLink">Updates From RLS2000</p></a>
            <button type="button" class="btn btn-primary btn-submit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span class="btn-wording">Save Changes<span></button>
          </div>
        </div>
    </div>
  </section>
</div><!--Right Side-->
</div><!--Row for Left and Right Side-->




</div>









</div>


<!-- jQuery -->
<script src="../js/essentials/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/essentials/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../js/essentials/metisMenu.min.js"></script>
<!-- AngularJS JavaScript -->
<script src="../js/essentials/angular.min.js"></script>
<!-- AngularJS JavaScript Pages -->
<script src="../js/angularpages/webPreferencesColors.js"></script>

</body>

</html>
